.cards {
    height: 400px;
    position: relative;
    background-image: linear-gradient(rgb(69, 199, 250), rgb(9, 113, 148));
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
    .cards {
        display: block;
        margin-bottom: 30px;
    }
}

